.sidebar{
    background: #062436;

  a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    text-transform: uppercase;
        &:hover{
        	text-decoration: none;
        }
  }
}

.item{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px 9px 20px;
  margin-bottom: 10px;
  img{
    margin-right: 16px;
  }
  &:hover{
    border-left: 6px solid #3DBDF6;
    padding-left: 14px;
    background: #15526A;
  }
}

.logo{
  display: block;
  padding: 20px 78px 10px 20px;
  margin-bottom: 50px;
}
